<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌭</text></svg>">
    </head>    
    <body>
        <header>
            <h1 class="up-top">SEEFOOD</h1>
            <h2>"The Shazam for Food"</h2>
        </header>
        <main>
            <section class="hero">
                <a href="/take_photo/" class="hero__cta h2" role="button" aria-label="SeeFood">
                    Touch to SEEFOOD
                </a>
            </section>
        </main>
    </body>
</html>
