$baseFontSize: 1.25rem;
$goldenRatio: 1.618;

html {
    font-size: $baseFontSize;
}
  
h1 {
    font-size: $baseFontSize * ($goldenRatio * $goldenRatio * $goldenRatio * $goldenRatio);
}
  
h2, .h2 {
    font-size: $baseFontSize * ($goldenRatio * $goldenRatio);
}
  
p {
    font-size: $baseFontSize; /* Base size */
}
  