@import 'var';

html, body {
    height: 100%;
    margin: 0;
  }
  
  #app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #000;
  }
  
  #camera-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  #video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #canvas {
    display: none;  /* Hide the canvas by default */
    overflow: hidden;
  }
  
  #snap {
    position: relative;
    z-index: 1;  /* Ensure the button stays on top of the video */
  }
  
  /* Rest of your styles */
  #header-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
#snap {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: $red;
    border: .75rem solid $white;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #result-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1; /* Ensure the result appears above other elements */
  }
  
#result.red {
    background-color: $red; /* Adjust opacity as needed */
}

#result.green {
    background-color: $green; /* Adjust opacity as needed */
    width: 100%;
}


$baseFontSize: 1.25rem;
$goldenRatio: 1.618;

#result.red::after,
#result.green::after {
    position: absolute;
    bottom: -0.85em; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    z-index: 1; /* Ensure the circle is positioned above the camera */
    font-size: 6rem;
    padding: 0rem;


    display: flex;
    align-items: center;
    justify-content: center;
  }

#result.red::after {
    content: "\2716";
    background-color: $red;
}
#result.green::after {
    content: "\2714"; /* Unicode character for tick mark */
    background-color: $green;
}

  